# Dependencies
node_modules/
.pnpm-store/

# Env vars
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker
pgdata/